h1, h2 {
  font-family: cursive;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

h2 {
  font-size: 22px;
}

body {
  font-size: 20px;
  min-height: 100vh;
}

#index-page-body {
  background-image: url('images/duck_xs.jpg');
  background-size: cover;
  background-position: 50% 15%;
  margin: 0;
}

#my-story-page-body {
  background-image: url('images/beach_xs.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
}

#projects-page-body {
  background-image: url('images/forest_xs.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
}

#contact-page-body {
  background-image: url('images/lake_xs.jpg');
  background-size: cover;
  background-position: right center;
}

#my-story-page-body a:hover, #projects-page-body a:hover, #contact-page-body a:hover {
  text-decoration: none;
}

#custom-navbar-container a {
  color: black;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#custom-navbar-container a:hover {
  text-decoration: none;
}

#custom-navbar {
  height: 60px;
  /*font-size: 20px;*/
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#mobile-menu {
  font-size: 40px;
}

#mobile-menu-items {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  z-index: 1000;
}

#desktop-menu {

}

.typewriter {
  position: absolute;
  font-size: 25px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#narrator {
  top: calc(60px + 5%);
  left: 30%;
  width: 40%;
  text-align: center;
}

#duck {
  top: calc(60px + 45%);
  left: 5%;
  width: 40%;
  text-align: left;
}

#bartender {
  top: calc(60px + 35%);
  left: 55%;
  width: 40%;
  text-align: right;
}

#my-story-container .gap-beneath {
  margin-bottom: 50px;
}

#page-shortcuts p {
  font-family: cursive;
  color: black;
  font-size: 1.5rem;
}

.story-part, .timeline-part, .contacts-part {
  border-radius: 5px;
  background-color: #252d38;
}

#page-shortcuts a, .story-part p, .story-part p a, .timeline-part p, .timeline-part a, .timeline-part a:hover, .contacts-part, .contacts-part a, .contacts-page-body a:hover {
  color: #c4c6c9;
}

.story-part p a, .project-description a, .project-description a:hover {
  text-decoration: underline !important;
}

.timeline-year {
  margin-top: 7px;
}

.timeline-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.timeline-line {
  width: 4px;
  background-color: white;
}

.timeline-bottom-line {
  flex-grow: 1;
}

.timeline-top-line {
  height: 0.5rem;
}

.timeline-bottom-line {
  height: calc(100% - 40px);
}

.timeline-part h4 {
  color: #c4c6c9;
  font-size: 1.3rem;
}

.timeline-gap .timeline-line {
  height: 50px;
}

.contacts-part p {
  font-size: 20px;
}

.contacts-part i {
  font-size: 40px;
}

@media (min-width: 576px) {
  #index-page-body {
    background-image: url('images/duck_sm.jpg');
  }

  #my-story-page-body {
    background-image: url('images/beach_sm.jpg');
  }

  #projects-page-body {
    background-image: url('images/forest_sm.jpg');
  }

  #contact-page-body {
    background-image: url('images/lake_sm.jpg');
  }

  .typewriter {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }

  #index-page-body {
    background-image: url('images/duck_md.jpg');
  }

  #my-story-page-body {
    background-image: url('images/beach_md.jpg');
  }

  #projects-page-body {
    background-image: url('images/forest_md.jpg');
  }

  #contact-page-body {
    background-image: url('images/lake_md.jpg');
  }

  #mobile-menu-items {
    display: none;
  }

  #duck {
    top: calc(60px + 55%);
    left: 5%;
    width: 30%;
  }

  #bartender {
    top: calc(60px + 40%);
    left: 65%;
    width: 30%;
  }

  .timeline-top-line {
    height: 1rem;
  }
}

@media (min-width: 992px) {
  #index-page-body {
    background-image: url('images/duck_lg.jpg');
  }

  #my-story-page-body {
    background-image: url('images/beach_lg.jpg');
  }

  #projects-page-body {
    background-image: url('images/forest_lg.jpg');
  }

  #contact-page-body {
    background-image: url('images/lake_lg.jpg');
  }

  .typewriter {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  #index-page-body {
    background-image: url('images/duck_xl.jpg');
  }

  #my-story-page-body {
    background-image: url('images/beach_xl.jpg');
  }

  #projects-page-body {
    background-image: url('images/forest_xl.jpg');
  }

  #contact-page-body {
    background-image: url('images/lake_xl.jpg');
  }
}

@media (min-width: 1500px) {
  #index-page-body {
    background-image: url('images/duck_xxl.jpg');
  }

  #my-story-page-body {
    background-image: url('images/beach_xxl.jpg');
  }

  #projects-page-body {
    background-image: url('images/forest_xxl.jpg');
  }

  #contact-page-body {
    background-image: url('images/lake_xxl.jpg');
  }
}

@media (min-width: 2000px) {
  #index-page-body {
    background-image: url('images/duck.jpg');
  }

  #my-story-page-body {
    background-image: url('images/beach.jpg');
  }

  #projects-page-body {
    background-image: url('images/forest.jpg');
  }

  #contact-page-body {
    background-image: url('images/lake.jpg');
  }
}
