body {
  font-size: 20px;
  min-height: 100vh;
}

#index-page-body {
  background-image: url('images/duck.jpg');
  background-size: cover;
  background-position: 50% 15%;
  margin: 0;
}

#my-story-page-body {
  background-image: url('images/beach.jpg');
  background-size: 100% auto;
}

#my-story-page-body h1, #my-story-page-body h2 {
  font-family: cursive;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#my-story-page-body h2 {
  font-size: 22px;
}

#custom-navbar-container a {
  color: black;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

#custom-navbar-container a:hover {
  text-decoration: none;
}

#custom-navbar {
  height: 60px;
  /*font-size: 20px;*/
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#mobile-menu {
  font-size: 40px;
}

#hamburger {

}

#mobile-menu-items {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#desktop-menu {

}

.typewriter {
  position: absolute;
  font-size: 25px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#narrator {
  top: calc(60px + 5%);
  left: 30%;
  width: 40%;
  text-align: center;
}

#duck {
  top: calc(60px + 45%);
  left: 5%;
  width: 40%;
  text-align: left;
}

#bartender {
  top: calc(60px + 35%);
  left: 55%;
  width: 40%;
  text-align: right;
}

#story-part {
  border-radius: 5px;
  background-color: #252d38;
}

#story-part p {
  color: #c4c6c9;
}

@media (min-width: 576px) {
  .typewriter {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  #mobile-menu-items {
    display: none;
  }

  #my-story-page-body h2 {
    font-size: 28px;
  }

  #duck {
    top: calc(60px + 55%);
    left: 5%;
    width: 30%;
  }

  #bartender {
    top: calc(60px + 40%);
    left: 65%;
    width: 30%;
  }
}

@media (min-width: 992px) {
  .typewriter {
    font-size: 40px;
  }
}
